.grid{
	width: 100%;
	height: 100vh;
}
.movies-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	background-color: $color3;
	&__container{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__element{
		max-width: 100%;
		position: relative;
	}
	&__description{
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.274);
		color: red;
		position: absolute;
	}
}
