@mixin arrows($size){
	border-top: #{$size}px solid transparent;
	border-bottom: #{$size}px solid transparent;
	&__left{
		border-right: #{$size}px solid $color2;
	}
	&__right{
		border-left: #{$size}px solid $color2;
	}
}
.arrow{
	z-index: 5;
	width: 0;
	height: 0;
	position: absolute;
	margin-top: 50vh;
	border-radius: 100%;
	@include arrows(25);
	&__left{
		left: 15px;
	}
	&__right{
		right: 15px;
	}

	@include medium{
		@include arrows(50);		
	}
	@include large{
		@include arrows(70);		
	}
}

.dot{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 2px white;
	fill: transparent;
}
