@mixin arrows($size){
	width: #{$size}px;
	height: #{$size}px;
	border-top: .4rem solid $color2;
	border-right: .4rem solid $color2;
}
.arrow{
	position: absolute;
	top: 50%;
	background-color: transparent;
	transition: 200ms ease;
	z-index: 5;
	@include arrows(25);
	&__left{
		left: 5%;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}
	&__right{
		right: 5%;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}

	@include medium{
		@include arrows(50);		
	}
	@include large{
		@include arrows(70);		
	}
}

.dot{
    margin: 0 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
		z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
		
		&__element{
			width: 16px;
			height: 16px;
			margin: 5px;
			border-radius: 50%;
			background-color: $color2;
		}
}
