body{
	background: $color4; 	
}
.gallery{
		position: relative;
    width: 100%;
		height: 100vh;

		&__image{
			position: absolute;
			width: 100%;
			height: 100vh;
			object-fit: scale-down;
		}
}
.hidden{
	opacity: 0;
}
